$viewport-mobile-large: 640px;
$viewport-mobile: $viewport-mobile-large - 1px;
$viewport-tablet: 768px;
$viewport-desktop: 992px;
$viewport-large-desktop: 1440px;
$viewport-wide: 1600px;

@mixin viewport-size($media) {
  @if $media == mobile {
    @media only screen and (max-width: $viewport-mobile) {
      @content;
    }
  }
  @if $media == mobile-lg {
    @media only screen and (min-width: $viewport-mobile-large) {
      @content;
    }
  }
  @if $media == tablet {
    @media only screen and (min-width: $viewport-tablet) {
      @content;
    }
  }
  @if $media == desktop {
    @media only screen and (min-width: $viewport-desktop) {
      @content;
    }
  }
  @if $media == desktop-lg {
    @media only screen and (min-width: $viewport-large-desktop) {
      @content;
    }
  }
  @if $media == wide {
    @media only screen and (min-width: $viewport-wide) {
      @content;
    }
  }
}

@mixin responsive-prop($property, $m:"", $ml:"", $t:"", $d:"", $dl:"", $w:"" ) {
  @if $m  != "" {
    @include viewport-size(mobile) {
      #{$property}: $m;
    }
  }
  @if $ml != "" {
    @include viewport-size(mobile-lg) {
      #{$property}: $ml;
    }
  }
  @if $t  != "" {
    @include viewport-size(tablet) {
      #{$property}: $t;
    }
  }
  @if $d  != "" {
    @include viewport-size(desktop) {
      #{$property}: $d;
    }
  }
  @if $dl != "" {
    @include viewport-size(desktop-lg) {
      #{$property}: $dl;
    }
  }
  @if $w  != "" {
    @include viewport-size(wide) {
      #{$property}: $w;
    }
  }
}

html {
  font-size: 62.5%;
}

.container {
  @include responsive-prop(background-color, red, blue, blue, pink, yellow, orange);
  @include responsive-prop(width, 100%, 64rem, 75rem, 90rem, 128rem, 140rem);
  margin: 0 auto;
}